.container-fluid.footer
  .section.container
    footer
      .row
        .col-lg-3.col-md-3.col-sm-3.block
          p
            | Wordoutlet, 3581 Lunneta Street,
            br
            |Siesta Key, Florida. 20002,
            br
            |USA
        .col-lg-3.col-md-3.col-sm-3.block
          p
            |FAQs
            br
            |Return Policy
            br
            |Shipping
        .col-lg-3.col-md-3.col-sm-3.block
          p
            | Careers
            br
            |Community
            br
            |Wholesale
        .col-lg-3.col-md-3.col-sm-3.block
          .media
            ul
              li
                i.fab.fa-facebook-square
              li
                i.fab.fa-instagram
              li
                i.fab.fa-google-plus-square
              li
                i.fab.fa-youtube
