extends base

block append head
           
        

block content
    main.main
         .user-view.box.animated.fadeInUp(data-delay='0.7s')
            .user-view__form-
            .col-xs-6.right.about
            .col-xs-6.left
                h2 OUR STORY
                p.long-copy “Our understanding of premium quality and impeccable fit drives us to provide a revolutionary alternative to the clutter of ill-fitting and cookie-cutter styles available in the market today”.
                    Suits started out in 2013 with a simple aim to change how men perceived fashion. We brought together traditional craftsmanship and cutting-edge technology to create a suit that embarks unparalleled fit and quality."
                
