extends base


block content
    main.main
         .user-view.box.animated.fadeInUp(data-delay='0.7s')
            .col-xs-6.right.login
                .letter4 log in
            .col-xs-6.left
                form.contact-form.form-signup.form-login
                    .form-group
                        input#email.form-text(type='email', placeholder='your email')
                    .form-group
                        input#password.form-text(type='password', placeholder='your password')
                        input.btn(type='submit', value='Send')
                    a(href='/forgot').form__label What was the password again?
